@model student_platform.Models.Entities.Post.Comment

@{
  ViewData["Title"] = "Details";
}



<div class="d-flex justify-content-center">
  <section class="page__container bg-white box-shadow content__container">
    <h2>Comment Detail</h2>
    <hr />

    <dl class="row">
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Text)
      </dt>
      <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Text)
      </dd>
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Likes)
      </dt>
      <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Likes)
      </dd>
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Post)
      </dt>
      <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Post.Title)
      </dd>
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Created)
      </dt>
      <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Created)
      </dd>
    </dl>
    <hr>
    <div>
      <a class="generic__links" asp-action="Edit" asp-route-id="@Model?.CommentId">Edit</a> |
      <a class="generic__links" asp-action="Index">Back to List</a>
    </div>
  </section>
</div>
