@model IEnumerable<student_platform.Models.Entities.Post.Comment>

@{
  ViewData["Title"] = "Comments";
}
<div class="page__container bg-white box-shadow">
  <div class="d-flex justify-content-between">
    <h2 class="me-5">Comments</h2>
    <a asp-action="Create">
      <button class="action__button btn justify-content-end"> New Comment <span
          class="fa-solid fa-circle-plus ms-2"></span></button>
      </button>
    </a>
  </div>

  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">
          @Html.DisplayNameFor(model => model.Text)
        </th>
        <th scope="col">
         Belongs to @Html.DisplayNameFor(model => model.Post)
        </th>
        <th scope="col">
          @Html.DisplayNameFor(model => model.Likes)
        </th>
        <th scope="col">
          @Html.DisplayNameFor(model => model.Created)
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
        <tr>
          <td class="table__text">
            @Html.DisplayFor(modelItem => item.Text)
          </td>

          <td class="table__text">
            @Html.DisplayFor(modelItem => item.Post.Title)
          </td>
          <td>
            <span class="fa-solid fa-thumbs-up activity__icon"></span>
            @Html.DisplayFor(modelItem => item.Likes)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Created)
          </td>
          <td>
            <div class="buttons__container">
              <a class="btn btn-outline-info table__edit" asp-action="Edit" asp-route-id="@item.CommentId">Edit</a>
              <a class="activity__icon" asp-action="Details" asp-route-id="@item.CommentId"><span
                class="fa-solid fa-circle-info  me-2"></span></a>
              <a class="activity__icon" asp-action="Delete" asp-route-id="@item.CommentId"><span
                class="fa-solid fa-trash me-2"></span></a>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>