@model student_platform.Models.Entities.Post.PostIndexVm

@{
    ViewData["Title"] = "Courses";
}

<h2>Courses</h2>

<p>
    <a asp-action="AddPost">Create New</a>
</p>

<form asp-controller="Posts" asp-action="Index" method="get">
    <p>
        Title: <input type="text" name="SearchString" value="@Model.SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Posts.First().PostId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts.First().Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts.First().Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts.First().Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Posts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="EditPost" asp-route-id="@item.PostId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PostId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>